<md-content layout-margin>
	<md-content md-whiteframe="5">
		<md-toolbar class="md-hue-2" style="height: 40px;min-height: 40px;">
			<div class="md-toolbar-tools">
				<span translate="authentication.method"></span>
			</div>
		</md-toolbar>
		<md-content layout-padding>
			<md-radio-group ng-model="admin.method">
				<div layout="row" layout-align="start center">
					<md-radio-button value="azure" class="md-primary" style="margin: auto 5px;">
						<span>AzureAD</span>						
					</md-radio-button>
					<md-button ng-disabled="admin.method!='azure'" href="/admin/help/azureAd" target=_blank class="md-primary md-raised">Configuration Help</md-button>
				</div>
				<div layout="row" layout-align="start center">
					<md-radio-button value="adfs" class="md-primary" style="margin: auto 5px;">
						<span>ADFS</span>						
					</md-radio-button>
					<md-button ng-disabled="admin.method!='adfs'" href="/admin/help/adfs" target=_blank class="md-primary md-raised">Configuration Help</md-button>
				</div>
			</md-radio-group>
			</span>
		</md-content>
	</md-content>

	<div ng-show="admin.method=='azure'">
		<div layout="row" style="margin:15px 0 20px 0">
			<md-content md-whiteframe="5" flex="50" style="margin-right: 10px;">
				<md-toolbar class="md-hue-2" style="height: 40px;min-height: 40px;">
					<div class="md-toolbar-tools">
						<span>URLs</span>
					</div>
				</md-toolbar>
				<md-content layout-padding>
					<md-input-container class="md-block flex-gt-sm md-input-focused">
						<label for="azureAdSignin" translate="authentication.azureAd.signinURL"></label>
						<span id="azureAdSignin" disabled="disabled">{{admin.azureAd.signin}}</span>
					</md-input-container>
					<md-input-container class="md-block flex-gt-sm md-input-focused">
						<label for="azureAdCallback" translate="authentication.azureAd.callbackURL"></label>
						<span id="azureAdCallback" disabled="disabled">{{admin.azureAd.callback}}</span>
					</md-input-container>
					<md-input-container class="md-block flex-gt-sm md-input-focused">
						<label for="azureAdLogout" translate="authentication.azureAd.logoutURL"></label>
						<span id="azureAdLogout" disabled="disabled">{{admin.azureAd.logout}}</span>
					</md-input-container>
				</md-content>
			</md-content>
			<md-content md-whiteframe="5" flex="50" style="margin-left: 10px;">
				<md-toolbar class="md-hue-2" style="height: 40px;min-height: 40px;">
					<div class="md-toolbar-tools">
						<span>Access Rules</span>
					</div>
				</md-toolbar>
				<md-content layout-padding layout="column">
					<md-input-container style="margin: 0;">
						<md-checkbox class='md-primary' ng-model="admin.azureAd.allowExternalUsers" aria-label="allowExternalUsers">
							<span translate="authentication.azureAd.external"></span><span>: {{admin.azureAd.allowExternalUsers || false}}</span>
						</md-checkbox>
					</md-input-container>
					<md-input-container style="margin: 0;">
						<md-checkbox class='md-primary' ng-model="admin.azureAd.unlicensedFilter" aria-label="allowLicensedUsers">
							<span translate="authentication.azureAd.unlicensed"></span><span>: {{admin.azureAd.unlicensedFilter || false}}</span>
						</md-checkbox>
					</md-input-container>
					<md-container layout="column">
						<md-input-container style="margin: 0;">
							<md-checkbox class='md-primary' ng-model="admin.azureAd.userGroupsFilter" aria-label="allowExternalUsers">
								<span translate="authentication.azureAd.groupsFilter"></span><span>:</span>
							</md-checkbox>
						</md-input-container>
						<md-chips ng-class="{'chips_disabled': !admin.azureAd.userGroupsFilter}" ng-model="admin.azureAd.userGroups" md-separator-keys="customKeys"
						 readonly="!admin.azureAd.userGroupsFilter"></md-chips>
					</md-container>
				</md-content>
			</md-content>
		</div>
		<md-content md-whiteframe="5">
			<md-toolbar class="md-hue-2" style="height: 40px;min-height: 40px;">
				<div class="md-toolbar-tools">
					<span>Azure OAuth Access</span>
				</div>
			</md-toolbar>
			<md-content layout-padding>
				<div layout="column">
					<md-input-container class="md-block flex-gt-sm" style="margin-bottom: 0;">
						<label for="clientID">
							<span translate="authentication.azureAd.clientID"></span>
							<span style="color: red">*</span>
						</label>
						<input id="clientID" type="text" ng-model="admin.azureAd.clientID" />
					</md-input-container>
					<md-input-container class="md-block flex-gt-sm" style="margin-bottom: 0;">
						<label for="clientSecret">
							<span translate="authentication.azureAd.clientSecret"></span>
							<span style="color: red">*</span>
						</label>
						<input id="clientSecret" type="text" ng-model="admin.azureAd.clientSecret" />
					</md-input-container>
					<md-input-container class="md-block flex-gt-sm" style="margin-bottom: 0;">
						<label for="tenant">
							<span translate="authentication.azureAd.tenant"></span>
							<span style="color: red">*</span>
						</label>
						<input id="tenant" type="text" ng-model="admin.azureAd.tenant" />
					</md-input-container>
					<md-input-container class="md-block flex-gt-sm" style="margin-bottom: 0;">
						<label for="resource">
							<span translate="authentication.azureAd.resource"></span>
							<span style="color: red">*</span>
						</label>
						<input id="resource" type="text" ng-model="admin.azureAd.resource" />
					</md-input-container>
				</div>
			</md-content>
		</md-content>
	</div>

	<div ng-show="admin.method=='adfs'" layout="column">
		<md-content md-whiteframe="5" style="margin:15px 0 20px 0">
			<md-toolbar class="md-hue-2" style="height: 40px;min-height: 40px;">
				<div class="md-toolbar-tools">
					<span>ADFS Metadata</span>
				</div>
			</md-toolbar>
			<div layout-margin>
			<div>To use this app with your ADFS, you will have to import your ADFS Metadata.</div>
			<div>To retrieve your ADFS Metadata, you can manually download them, or indicate your ADFS FQDN below, and use the "Download"				
				Button</div>
			</div>
			<div flex layout="row" layout-margin>
				<md-input-container class="md-block flex-gt-sm" flex=50>
					<label for="adfsServer">
						<span translate="authentication.adfs.server"></span>	
					</label>
					<input id="adfsServer" type="text" ng-model="admin.adfs.server" />
				</md-input-container>
				<md-input-container>
					<md-button class='md-primary md-raised' ng-disabled="!adfsCert()" ng-href="{{adfsCert()}}" translate="authentication.adfs.getAdfsMetadata"
					 aria-label="Get ADFS Metadata" target="_blank"></md-button>
				</md-input-container>
			</div>
			<div layout-margin>Once you have the xml Metadata file, just edit it, and copy/paste the content below</div>
			<div layout="column" layout-margin>
				<md-input-container layout="column" flex=66 md-whiteframe="2">
					<label for="adfsMetadata">
							<span translate="authentication.adfs.pasteAdfsMetadata"></span>
							<span style="color: red">*</span>
						</label>
					<textarea id="adfsMetadata" ng-model="admin.adfs.metadata" style="min-height: 182px; max-height: 200px; overflow-y: scroll;"></textarea>
				</md-input-container>
				<md-container layout="row">

					<md-input-container class="md-block flex-gt-sm md-input-focused">
						<label for="adfsEntityID">Entity ID</label>
						<span id="adfsEntityID" ng-disabled="true">{{admin.adfs.entityID}}</span>
					</md-input-container>
					<md-input-container class="md-block flex-gt-sm md-input-focused">
						<label for="adfsLoginUrl">Login URL</label>
						<span id="adfsLoginUrl" ng-disabled="true">{{admin.adfs.loginUrl}}</span>
					</md-input-container>
					<md-input-container class="md-block flex-gt-sm md-input-focused">
						<label for="adfsLogoutUrl">Logout URL</label>
						<span id="adfsLogoutUrl" ng-disabled="true">{{admin.adfs.logoutUrl}}</span>
					</md-input-container>

				</md-container>
				<md-contaier layout="column">
					<div ng-repeat="cert in admin.adfs.certs">
							<md-input-container class="md-block flex-gt-sm md-input-focused">
									<label for="adfsLogoutUrl">X509 Certificate #{{$index}}</label>
									<textarea id="adfsLogoutUrl" ng-disabled="true" style="min-height: 24px; max-height: 240px; overflow-y: scroll;">{{cert}}</textarea>
								</md-input-container>
				</md-contaier>
			</div>
		</md-content>
		<md-content md-whiteframe="5" style="margin:15px 0 20px 0">
			<md-toolbar class="md-hue-2" style="height: 40px;min-height: 40px;">
				<div class="md-toolbar-tools">
					<span>APP Metdata</span>
				</div>
			</md-toolbar>
			<div layout-margin>You will have create a "Relying Party Trust" on your ADFS. To do so, you can download the App Metadata (including its
				certificate) by using the button below.</div>
			<md-button class='md-primary md-raised' ng-disabled="" ng-href="/api/auth/cert" translate="authentication.adfs.getAppCertificate"
			 aria-label="Get App Certificate"></md-button>

		</md-content>
	</div>

	<md-content layout="column" layout-gt-sm="row">
		<md-button class="md-primary md-raised" ng-disabled="isWorking || !isValid()" ng-click="save()" translate="save" aria-label="get"></md-button>
	</md-content>
</md-content>