<div layout-margin>
	<md-content md-whiteframe="7" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.logo" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="logo.enable" aria-label="Color Enable">
						{{ status.logo | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding layout-gt-sm="row">
			<fieldset>
				<legend translate="custom.logo.header"></legend>
				<md-input-container class="md-block">
					<form>
						<input type="file" name="header" ng-file-select-logo="onFileSelect($logoHeaderFile)" aria-label="logo header" ng-disabled="!logo.enable">
					</form>
					<b>Preview:</b><br />
					<img ng-src="{{logo.header}}">
					<i ng-hide="logo.header">No image choosed</i>
				</md-input-container>
			</fieldset>
			<fieldset>
				<legend translate="custom.logo.login"></legend>
				<md-input-container class="md-block">
					<form>
						<input type="file" name="login" ng-file-select-logo="onFileSelect($logoLoginFile)" aria-label="logo login" ng-disabled="!logo.enable">
					</form>
					<b>Preview:</b><br />
					<img ng-src="{{logo.login}}">
					<i ng-hide="logo.login">No image choosed</i>
				</md-input-container>
			</fieldset>
		</div>
	</md-content>


	<md-content md-whiteframe="7" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.color" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="colors.enable" aria-label="Color Enable">
						{{ status.colors | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding layout-gt-sm="row">
			<md-input-container flex-gt-sm="20">
				<label for="theme" translate="custom.color.theme"></label>
				<md-select ng-model="colors.contrastDefaultColor" ng-disabled="!colors.enable">
					<md-option value="light">{{ "custom.color.light" | translate }}</md-option>
					<md-option value="dark">{{ "custom.color.dark" | translate}}</md-option>
				</md-select>
			</md-input-container>
			<div flex-gt-sm="20">
				<div md-color-picker ng-model="colors.color" label="{{'custom.color.mainColor' | translate}}" ng-disabled="!colors.enable"
					open-on-input="true" md-color-alpha-channel="false" md-color-hex="true" md-color-rgb="false" md-color-hsl="false">
				</div>
			</div>
		</div>
	</md-content>
	<md-content md-whiteframe="7" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.login" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="login.enable" aria-label="Login Enable">
						{{ status.login | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding>
			<form name="loginForm">
				<md-input-container class="md-block">
					<label for="loginTitle" translate="custom.login.title"></label>
					<input id="loginTitle" type="text" ng-model="login.title" md-maxlength="50" ng-disabled="!login.enable">
				</md-input-container>
				<md-input-container class="md-block">
					<label for="loginText" translate="custom.login.text"></label>
					<textarea id="loginText" ng-model="login.text" md-maxlength="300" rows="2" md-select-on-focus ng-disabled="!login.enable"></textarea>
				</md-input-container>
			</form>
		</div>
	</md-content>
	<md-content md-whiteframe="5">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.app" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="app.enable" aria-label="App Enable">
						{{ status.app | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding>


			<div>
				<span translate="custom.app.iconSrc"></span> <a target="_blank" href="https://material.io/icons/">https://material.io/icons/</a>
			</div>
			<form name="appForm">
				<md-content style="margin: 20px" md-whiteframe="7" layout="column">
					<md-toolbar class="md-hue-2" style="background-color: {{colors.color}}; color: {{textColor}}">
						<div class="md-toolbar-tools">
							<md-input-container class="md-block">
								<label for="appTitle" translate="custom.app.title" style="color: {{textColor}}"></label>
								<input id="appTitle" type="text" ng-model="app.title" ng-disabled="!app.enable" style="color: {{textColor}}" md-maxlength="100">
							</md-input-container>
						</div>
					</md-toolbar>
					<div style="background-color: #{{color}}; height: 5px; width: 100%"></div>
					<md-content style="padding: 0 40px 10px 40px">
						<md-list flex>
							<md-subheader class="md-no-sticky">
								<h2>
									<md-input-container class="md-block" style="margin: 0">
										<label for="appTitle" translate="custom.app.text"></label>
										<input id="appTitle" type="text" ng-model="app.text" ng-disabled="!app.enable" md-maxlength="200">
									</md-input-container>
								</h2>
							</md-subheader>
							<md-divider></md-divider>
							<md-list-item ng-repeat="row in app.rows" layout="row">
								<md-button class="md-primary" ng-click="removeRow(row.index)" ng-disabled="!app.enable">
									<i class="material-icons">remove_circle_outline</i>
								</md-button>
								<md-input-container class="md-block" flex="10">
									<label for="icon-{{$index}}" translate="custom.app.icon"></label>
									<input id="icon-{{$index}}" type="text" ng-model="row.icon" ng-disabled="!app.enable">
								</md-input-container>
								<span flex="10"></span>
								<i class="material-icons md-avatar-icon" style="min-width: 25px;">{{row.icon}}</i>
								<md-input-container class="md-block" flex="80">
									<label for="text-{{$index}}" translate="custom.app.text"></label>
									<textarea id="text-{{$index}}" ng-model="row.text" md-maxlength="500" ng-disabled="!app.enable"></textarea>
								</md-input-container>

								<md-divider></md-divider>
							</md-list-item>
						</md-list>
						<md-button class="md-primary" ng-click="addRow()" ng-disabled="!app.enable">
							<i class="material-icons">add_circle_outline</i>
						</md-button>
					</md-content>
				</md-content>
			</form>
	</md-content>
	</div>

	</md-content>
	<md-content layout="column" layout-gt-sm="row">
		<md-button class="md-primary md-raised" ng-disabled="isWorking || !isValid()" ng-click="save()" translate="save" aria-label="save"></md-button>
		<md-button target=_blank href="/admin/preview" class="md-primary" ng-disabled="isWorking || !isValid()" translate="custom.preview"
			aria-label="preview"></md-button>
	</md-content>
	</md-content>
</div>