<div layout-margin>
	<md-content md-whiteframe="7" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.logo" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="logo.enable" aria-label="Color Enable">
						{{ status.logo | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding>
			<md-input-container class="md-block" layout="column" layout-gt-sm="row">
				<div flex-gt-sm="50">
				<form>
					<input type="file" ng-file-select-logo="onFileSelect($logoFile)" aria-label="logo" ng-disabled="!logo.enable">
				</form>
				</div>
				<div flex-gt-sm="50">
					<b>Preview:</b><br />
					<img ng-src="{{logo.img}}">
					<i ng-hide="logo.img">No image choosed</i>
				</div>
			</md-input-container>
		</div>
	</md-content>


	<md-content md-whiteframe="7" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.color" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="colors.enable" aria-label="Color Enable">
						{{ status.colors | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding layout-gt-sm="row">
			<md-input-container flex-gt-sm="20">
				<label for="theme" translate="custom.color.theme"></label>
				<md-select ng-model="colors.contrastDefaultColor" ng-disabled="!colors.enable">
					<md-option value="light">{{ "custom.color.light" | translate }}</md-option>
					<md-option value="dark">{{ "custom.color.dark" | translate}}</md-option>
				</md-select>
			</md-input-container>
			<div flex-gt-sm="20">
				<div md-color-picker ng-model="colors.color" label="{{'custom.color.mainColor' | translate}}" ng-disabled="!colors.enable"></div>
			</div>
		</div>
	</md-content>
	<md-content md-whiteframe="7" layout="column">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.login" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="login.enable" aria-label="Login Enable">
						{{ status.login | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding>
			<form name="loginForm">
				<md-input-container class="md-block">
					<label for="loginTitle" translate="custom.login.title"></label>
					<input id="loginTitle" type="text" ng-model="login.title" md-maxlength="50" ng-disabled="!login.enable">
				</md-input-container>
				<md-input-container class="md-block">
					<label for="loginText" translate="custom.login.text"></label>
					<textarea id="loginText" ng-model="login.text" md-maxlength="300" rows="2" md-select-on-focus ng-disabled="!login.enable"></textarea>
				</md-input-container>
			</form>
		</div>
	</md-content>
	<md-content md-whiteframe="5">
		<md-toolbar class="md-hue-2">
			<div class="md-toolbar-tools">
				<h2>{{"custom.app" | translate}}</h2>
				<span flex></span>
				<md-input-container>
					<md-switch ng-model="app.enable" aria-label="App Enable">
						{{ status.app | translate }}
					</md-switch>
				</md-input-container>
			</div>
		</md-toolbar>
		<div layout-padding>

			<md-input-container class="md-block">
				<label for="appTitle" translate="custom.app.title"></label>
				<input id="appTitle" type="text" ng-model="app.title" ng-disabled="!app.enable">
			</md-input-container>
			<fieldset>
				<div>
					<span translate="custom.app.iconSrc"></span> <a target="_blank" href="https://material.io/icons/">https://material.io/icons/</a>
				</div>
				<legend translate="custom.app.messages"></legend>
				<div ng-repeat="row in app.rows" layout="row">
					<md-input-container class="md-block" flex="20">
						<label for="icon-{{$index}}" translate="custom.app.icon"></label>
						<input id="icon-{{$index}}" type="text" ng-model="row.icon">
					</md-input-container>
					<md-input-container class="md-block" flex="80">
						<label for="text-{{$index}}" translate="custom.app.text"></label>
						<input id="text-{{$index}}" ng-model="row.text">
					</md-input-container>
				</div>
			</fieldset>
		</div>

	</md-content>
	<md-content layout="column" layout-gt-sm="row">
		<md-button class="md-primary md-raised" ng-disabled="isWorking || !isValid()" ng-click="save()" translate="save" aria-label="save"></md-button>
		<md-button target=_blank href="/admin/preview" class="md-primary" ng-disabled="isWorking || !isValid()" translate="custom.preview" aria-label="preview"></md-button>
	</md-content>
	</md-content>
</div>