
md-sidenav {
    min-width: 250px;
    max-width: 250px;
}

.clearfix {
    margin-top: 10px;
}

* {
    outline: none;
    font-size: small;
}

md-icon,
.card {
    transition: all .2s ease-in-out;
}

a.link, a.link:visited {
    color: rgb(102, 187, 106);
    text-decoration: none;
    font-weight: 500;
}
#loading{
    width:100%;
    height:100%;
    opacity: 1;
    position:fixed;
    z-index:9999;
    background:url("/images/ring.gif") no-repeat center center white;
    background-size: 50px;
}   
/*============================================== /
/ ================== ARTCILE ==================== /
/ ============================================== */
article {
    margin: 15px;
}

article .title {
    background-color: rgb(30, 136, 229);
    padding: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
}

li {
    list-style: none;
}

.main-container {
    display: flex;
}

h3, .h3 {
    background-color: rgb(30, 136, 229);
    padding: 10px;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    margin: 1px 0;
}

.main-menu .md-button {
    padding: 5px !important;
    margin: 0 10px !important;
    border-radius: 0;
}

.main-menu .md-button:hover {
    border-top: 4px solid rgba(158, 158, 158, 0.2);
}

.main-menu .md-button.cur {
    border-top: 4px solid rgb(76, 175, 80);
}


@media (min-width: 1025px) {
    md-sidenav {
        margin-top: -145px;
    }
}

md-sidenav {
    padding-top: 70px;
}

input.search-tool {
    color: white;
}

md-icon.search-tool {
    padding-top: 20px;
}

md-input-container.search-tool {
    width: 100%;
    padding-top: 20px;
}

.intl-tel-input {
    display: table-cell;
}

.createPage .intl-tel-input {
    display: flex;
    padding-left: 150px;
}

.tight {
    margin: 5px 0 0 0 !important;
}


@media (min-width: 600px) {
  .panel {
    margin: 50px;
  }
}

.chips_disabled md-chip {
    color: #aaaaaa; 
    background-color: #eeeeee;
}